{% extends 'base.html' %}

{% block title %}<title>{{ product.name }} details</title>{% endblock %}

{% block auth_navb_extra %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'index_logged_in' %}">Back to Products</a>
    </li>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2>{{ product.name }} Details</h2>
        <p>Price: ${{ product.price }}</p>
        <p>Description: {{ product.description }}</p>

        <!-- Add more details as needed -->

    </div>
{% endblock %}